.be-card:hover{
  margin: 0px 0px 30px;
}

.fe-card:hover{
  margin: 0px 0px 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .my-logo {
    animation: My-logo-spin infinite 10s linear;
  }
}


@keyframes My-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.write {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@media only screen {
      .write{
        font-size: 60%;
      }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
}