

@media (prefers-reduced-motion: no-preference) {
  .my-logo {
    animation: My-logo-spin infinite 10s linear;
  }
}


@keyframes My-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
